---
---
<footer class="bg-transparent text-white py-6">
  <div class="max-w-7xl mx-auto text-center">
    <p class="mb-2">© 2026 Maderas Los Ríos - Todos los derechos reservados.</p>
    <div class="flex justify-center space-x-4 mb-2">
      <a href="https://www.facebook.com/profile.php?id=61562703644417" target="_blank" rel="noopener" class="hover:text-wood-400"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://www.instagram.com/mlosrios" target="_blank" rel="noopener" class="hover:text-wood-400"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://wa.me/56973518144" target="_blank" rel="noopener" class="hover:text-wood-400"><i class="fa-brands fa-whatsapp"></i></a>
    </div>
    <p>Diseñado por <a href="http://www.cofradiapartner.com" class="underline hover:text-wood-300">Cofradiapartner.com</a></p>
  </div>
</footer>
